* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar {
    background-color: #210045;
    height: 100px;
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.logo {
    flex: 1;
    padding-left: 50px;
    align-self: center;
}

.menu {
    flex: 0 1 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.link {
    text-decoration: none;
    color: #FFFFFF
}

.contact-btn {
    width: 150px;
    height: 63px;
    border-radius: 50px;
    background-color: #271AC1;
    color: #FFFFFF;
    cursor: pointer;
}
