body {
  margin: 0;
  padding: 0;
  font-family: Poppins, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent url('./assets/images/Path_1.png') 0% 0% no-repeat padding-box;;
  color: white
}

